.ActionButton
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    outline: transparent;
    border: transparent;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,
    monospace;
    border-radius: 5px;
    color: white;
    background-color: var(--CallToAction-Color);
}

.ActionButton:hover
{
    color: var(--CallToAction-Color);
    background-color: white;
}