html
{
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root
{
  --Max-width: 1600px;
  --Primary-Text-Color: #9d9aaa;
  --Secondary-Text-Color: #eb4848;
  --CallToAction-Color: #eb4848;
  --Primary-Outline-Color: #353240;
  --Secondary-Outline-Color: #9d9aaa;
  --Primary-Section-Color: #0f1016;
  --Background-Color: #15161b;
}

.css-ja5taz-MuiTooltip-tooltip,
.css-1k51tf5-MuiTooltip-tooltip 
{
  display: grid;
  place-content: center;
  font-size: 0.8rem !important;
  border-radius: 5px !important;
  min-height: 30px;
  color: var(--Primary-Text-Color) !important;
  background-color: var(--Primary-Outline-Color) !important;
}

.css-kudwh-MuiTooltip-arrow
{
  color: var(--Primary-Outline-Color) !important;
}